<ion-view title='
<img class="logo" src="img/baby/baby-idea-icon.png"/>
<img class="logo" src="img/baby/baby-laughing-icon.png"/>
<img class="logo" src="img/baby/baby-vomit-icon.png"/>
<img class="logo" src="img/baby/baby-drinking-icon.png"/>
<img class="logo" src="img/baby/baby-sleeping-icon.png"/>
<img class="logo" src="img/baby/baby-crying-icon.png"/>
<img class="logo" src="img/baby/baby-sucking.ico"/>
'>
  <ion-content >  	
	<div class="more-front" ng-click="$event.stopPropagation(); 
		flipin(); "> <i class="fa fa-hand-o-right" style="font-size:24px"></i> Click Here
	</div>
	<div class="more-back" ng-click="$event.stopPropagation(); 
		flipout();"> Back
	</div>
  <div class="flip-container">
		<div class="flipper">
			<div class="front">
				<div class="pad">
					<div class="home-background-front"></div>
				</div>
			</div>
			<div class="back">
				<div class="pad">
					<div class="home-background-back"></div>
				</div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
