<ion-view title='
<img class="logo" src="img/baby/baby-laughing-icon.png"/>
<img class="logo" src="img/baby/baby-idea-icon.png"/>
<img class="logo" src="img/baby/baby-vomit-icon.png"/>
<img class="logo" src="img/baby/baby-drinking-icon.png"/>
<img class="logo" src="img/baby/baby-sleeping-icon.png"/>
<img class="logo" src="img/baby/baby-crying-icon.png"/>
<img class="logo" src="img/baby/baby-sucking.ico"/>
'>
    <ion-content ng-controller="MapCtrl">
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
